.shift-node {
    position: absolute;
    width: 90px;
    height: 60px;
    border: 0;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    >.title {
        height: 20px;
        background-color: #ec510e;
        color: #fffefe;
        font: normal 9px / 20px Helvetica;
        border: 0px;
        padding: 0 0 0 7px;
        cursor: default;
    }
    .content {
        position: relative;
        height: 40px;
        color: black;
        font: normal 9px Helvetica;
        background-color: #ffffff;
    }
}

.shift-node-contextmenu {
  >ul {
    min-width: 80px;
    font-size: 12px;
    padding: 2px 1px;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.9);
    >li {
      >a {
        transition: .2s all;
        padding: 2px 5px;
        color: #BDB5B5;
        &:hover, &:focus {
            background-color: #333333;
            color: #fff;
            border-radius: 2px;
        }
      }
    }
  }
}

.jsplumb-endpoint {
    width: 8px;
    height: 8px;
    z-index: 2;
    svg {
        width: 8px;
        height: 8px;
        circle {
            fill: #CFCFCF;
            stroke: #090909;
            stroke-width: 1;
            cx: 4;
            cy: 4;
            r: 3;
        }
    }
    &.jsplumb-endpoint-connected {
        svg circle {
            fill: #2EFDF6;
        }
    }
    &.jsplumb-hover {
        svg circle {
            fill: rgb(220, 220, 220);
        }
    }
}
