<div class="shift-node">
  <div class="title">{{shiftNodeModel.label}}</div>
  <div class="content">

    <div class="input input-{{input.port}}" ng-repeat="input in shiftNodeModel.inputs track by $index">
      <span class="title">{{input._label}}</span>
      <span class="value">{{input.type == 'const' ? input.constValue : ''}}</span>
    </div>

    <div class="output output-{{output.port}}" ng-repeat="output in shiftNodeModel.outputs track by $index">
      <span class="title">{{output._label}}</span>
    </div>
  </div>
</div>
