<div class="sidebar">
  <div class="firstType" ng-repeat="first in sidebar.NODE_TYPES_TREE track by $index">
    <div class="label" ng-click="first.isCollapsed = !first.isCollapsed">
      {{first.label}}
    </div>
    <div class="content" uib-collapse="first.isCollapsed">

      <div class="secondType" ng-repeat="second in first.sub">
        <div class="label" ng-click="second.isCollapsed = !second.isCollapsed">
          <i class="fa fa-caret-right" ng-show="!second.isCollapsed"></i>
          <i class="fa fa-caret-down" ng-show="second.isCollapsed"></i>
          {{second.label}}
        </div>
        <div class="content" uib-collapse="!second.isCollapsed">

          <div class="thirdType" ng-repeat="third in second.sub" ui-draggable="true" drag="sidebar.getNodeType(first, second, third)"
            on-drop-success="sidebar.onDragSuccess($event, $index, third)">
            <div class="label">{{third.label}}</div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
