<div class="sidebar">

  <div class="user">
    <a class="avatar" style="background-image: url({{sidebar.userInfo.avatarUrl}})"></a>
    <a class="name">{{sidebar.userInfo.name}}</a>
    <a class="dropdown"></a>
  </div>

  <div class="content">
    <div class="tabs">
      <a class="tab" ng-click="sidebar.currentTab = 'toolbox'" ng-class="{ toolbox: 'active' }[sidebar.currentTab]">Toolbox</a>
      <a class="tab" ng-click="sidebar.currentTab = 'example'" ng-class="{ example: 'active' }[sidebar.currentTab]">Example</a>
    </div>

    <div class="tabs-content" ng-show="sidebar.currentTab == 'toolbox'">
      <div class="search-box">
        <input type="text" placeholder="Search Node">
      </div>

<!---->

      <div class="list" ng-repeat="first in sidebar.NODE_TYPES_TREE track by $index">

          <div class="type" ng-repeat="second in first.sub">
            <div class="title" ng-click="second.isCollapsed = !second.isCollapsed">
              <span>{{second.label}}</span>
              <i class="fa fa-caret-down" ng-show="!second.isCollapsed"></i>
              <i class="fa fa-caret-up" ng-show="second.isCollapsed"></i>
            </div>
            <div class="sub-list clearfix" uib-collapse="!second.isCollapsed">
              <div class="item node-logo" ng-repeat="third in second.sub">
                <div class="item-image"
                  ng-class="third.key"
                  ui-draggable="true"
                  drag="sidebar.getNodeType(first, second, third)"
                  on-drop-success="sidebar.onDragSuccess($event, $index, third)"
                  drag-channel="WORK"></div>
                <div class="item-title">{{third.label}}</div>
              </div>
            </div>
          </div>

      </div>

<!---->
    </div>
    <div class="tabs-content" ng-show="sidebar.currentTab == 'example'">
      example
    </div>

  </div>

</div>
